@import "tailwindcss";

* {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  font-family: "Montserrat", sans-serif;
}

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-fat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0.4;
  }

  50% {
    transform: translateY(-20px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0.4;
  }
}

.floaty {
  animation: float 6s ease-in-out infinite;
}

li {
  list-style: none;
}

.glass-header {
  /* Glassmorphism settings */
  background: rgba(255, 255, 255, 0.15); /* Semi-transparent white */
  backdrop-filter: blur(12px); /* The actual frosted blur */
  -webkit-backdrop-filter: blur(12px); /* Safari compatibility */

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 24px;
}

@keyframes sway {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}
